<div class="container text-center">
    <a href="/" type="button" class="btn btn-danger backBtn">
        <i class="bi bi-arrow-left"></i>
        Atrás
    </a>
    <button type="button" class="acade-card printBtn" data-bs-toggle="modal" data-bs-target="#printNotas">
        <i class="bi bi-printer"></i>
        Imprimir
    </button>

    <div class="modal fade" id="printNotas" tabindex="-1" aria-labelledby="printNotasLabel"
        aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content acade-card">
                <div class="modal-header text-center justify-content-center">
                    <h5 class="acade-modal-title" id="printNotasLabel">¿Desea imprimir las notas {{userName}}?</h5>
                </div>
                <div class="modal-footer text-center justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        No
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <button onclick="printdiv('container_notas')" class="btn btn-success">
                        Si
                        <i class="bi bi-printer"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <h4 class="mb-5">Notas</h4>
    <div class="row" id="container_notas">
        <table id="materias" class="table table-striped table-bordered acade-table" style="width:100%" border="3">
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Primer corte</th>
                    <th>Segundo corte</th>
                    <th>Tercer corte</th>
                    <th>Definitiva</th>
                </tr>
            </thead>
            <tbody>
                {{#each notas}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{#if nota_c1}} {{nota_c1}} {{/if}} {{#unless nota_c1}} 0 {{/unless}}</td>
                    <td>{{#if nota_c2}} {{nota_c2}} {{/if}} {{#unless nota_c2}} 0 {{/unless}}</td>
                    <td>{{#if nota_c3}} {{nota_c3}} {{/if}} {{#unless nota_c3}} 0 {{/unless}}</td>
                    <td>{{#if promedio}} {{promedio}} {{/if}} {{#unless promedio}} 0 {{/unless}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    function closeModal(){
        var myModalEl = document.getElementById('printNotas');
        const modal = bootstrap.Modal.getInstance(myModalEl);    
        modal.hide();
    }
    function printdiv(elem) {
        closeModal();
        var sleep = setTimeout(() => {
            var header_str = '<html><head><title>' + document.title  + '</title></head><body>';
            var footer_str = '</body></html>';
            var new_str = document.getElementById(elem).innerHTML;
            var old_str = document.body.innerHTML;
            document.body.innerHTML = header_str + "<div id='print'>"+ new_str +"</div>"+ footer_str;
            window.print();
            document.body.innerHTML = old_str;
            return false;
        }, "500");
    }
</script>